.button {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid transparent;
  transition: 0.25s;
}

.button:hover {
  border: 1px solid #fff;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}
